.navbar{
bottom: 0;
width: 100vw;
height: 60px;
background-color:rgba(33,33,33);
position: fixed;
transition: 300ms ease;
z-index: 1;
box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
}
.navbar-disabled{
display: none;
}
.logo{ 
display: none;
}
.navbar_nav{
padding: 0;
margin:0;
display: flex;
flex-direction: row;
list-style: none;
height: 100%;
width: 100%;
flex-direction: row;
justify-content: space-around;
outline: none;
}
.nav_item{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
transition: 200ms ease;
outline: none;
cursor: pointer;
}
a.active .nav_item.circle{
  background-color: #ffd901;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 10px solid rgba(33,33,33);
  transform: translateY(-35px);
  }
a.active .nav_item.circle svg{
  fill: black;
}
.nav_item.circle{
width: 50px;
height: 50px;
border-radius: 50%;
transition: 0.3s ease-in-out;
  }
.nav_item a{
display: flex;
align-items: center;
flex-direction: column;
transition: 200ms ease;
outline: none;
}
.nav_item:hover svg{ 
  fill: #ffd901;
}
.nav_item svg{ 
display: flex;
height: 28px;
width: 28px;
}
.nav_item:nth-child(4) svg {
display: flex;
height: 31px;
width: 28px;
}
.link_text{
  display: none;
  transition: 0.3s ease-in-out;
  padding-top: 30px;
  z-index: 5;
}
a.active .link_text{
  color: #969292;
  display: flex;
  font-size: 0.7rem;
  transition: 0.3s ease-in-out;
}
a.active svg {
fill: #ffd901;
}
@media (min-width: 769px){
.navbar{
top: 0;
width: 70px;
height: 100vh;
padding-top:20px;
padding-bottom:10px;
overflow: hidden;
}
.navbar_nav{
flex-direction: column;
height: 100%;
padding-left: 9px;
}
.nav_item{
margin-bottom: 20px;
flex-direction: row;
justify-content: unset;
}
.nav_item:nth-child(4){
margin-bottom: 10px;
flex-direction: row;
justify-content: unset;
}
.nav_item svg{
height: 35px;
width: 35px;
min-width: 40px;
}
.nav_item:nth-child(4) svg path {
  height: 40px;
  width: 40px;
min-width: 40px;
}
.nav_item a { 
flex-direction: row;
height: 100%;
}
.nav_item:nth-child(6){
margin-top: auto;
margin-bottom: 0;
} 
.logo{
margin-bottom: 20px;
display: block;
}
.logo svg{
transform: rotate(0 deg);
transition: 300ms ease;
fill: #ffd901;
}
.navbar:hover .logo svg{
transform: rotate(-180deg);
transition: 300ms ease;
}
.navbar:hover{
width: 150px;
}
.navbar:hover .link_text{
  display: block;
  transition-duration: 300ms;
}  
.nav_item.circle{
display: flex;
align-items: center;
justify-content: center;
 }
a.active .nav_item.circle{
  border: 0;
  transform: none;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  }
.link_text{
margin-left: 10px;
color: #969292;
transition: 300ms ease !important;
font-size: 1rem;
font-weight: 200;
padding: 0;
margin-bottom: 15px;
transition: 0.3s ease-in-out;
}
a.active .link_text{
  color: #969292;
  display: flex;
  font-size: 1rem;
  padding: 0;
  transition: 0.3s ease-in-out;
 display: none;
}
a.active .nav_item.circle svg{
  fill: black;
}
a:hover .link_text{
  color: white;
}
}