.previous_workouts_background{
display: flex;
flex-direction: column;
align-items: center;
width: 100vw;
overflow: hidden;
padding-top: 20px;
padding-bottom: 70px;
min-height: calc(var(--vh, 1vh) * 100 );
}
.previous_workouts_background_text {
 font-size:1rem;
 text-shadow: 0px 1px #999;
 letter-spacing: 1px;
 color: #ffd901;
}
.link{
height: 80px;
width: 90%;   
padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;
background-color: var(--main-header-background-color);
border-radius: 5px;
margin: 10px;
box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
color: var(--font-workouts) !important;
font-size:0.7rem;
cursor: pointer;
font-weight: 500;
}
.link:hover{
background-color: var(--hover);
}
.link p:nth-child(2){
font-weight: 200;
font-size: 1rem;
margin-right: auto;
text-transform: uppercase;
}
.link  svg{
margin-right: 10px;
}

@media (min-width: 769px){
.previous_workouts_background{
min-height: 100vh;
padding-left: 70px;
}   
.link{
width: 40%;   
max-width: 1000px;
min-width: 660px;
font-size: 1rem;
height: 120px;
}
.link p:nth-child(2){
font-size: 1rem;
text-transform: uppercase;
}
}