.lds-rings{
box-sizing: border-box;
  display: flex;
  height: calc(100vh - 55px);
  margin-bottom: 55px;
  width: 100vw;
  justify-content: center;
  position: absolute;
  z-index: 1;
}
.lds-rings div {
  z-index: 2;
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 40%;
  width: 100px;
  height: 100px;
  border: 4px solid #fff;
  border-radius: 50%;
  animation: lds-rings 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #ffd901 transparent transparent transparent;
}
.lds-rings div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-rings div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-rings div:nth-child(3) {
  animation-delay: -0.15s;
}
@media (min-width: 769px){
.lds-rings{
width: 100vw;
padding-left: 70px;
height: 100vh;
margin-bottom: 0;
}
}
@keyframes lds-rings {
  0% {
transform: rotate(0deg);
  }
  100% {
transform: rotate(360deg);
  }
}