.lds-ring{
  box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   background-color: var(--main-header-background-color);
   border-radius: 20px;
  }
  .lds-ring div {
    z-index: 2;
    box-sizing: border-box;
    display: block;
    position: absolute;
    top: 40%;
    width: 100px;
    height: 100px;
    border: 4px solid #fff;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ffd901 transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @media (min-width: 769px){

  .lds-rings div {
    border: 8px solid #fff;
  }
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }